{% import 'object_attributes.j2' as attributes %}
{% macro object(item) -%}
{# No longer required since icinga 2.9 ? #}
{% set library = item.value.pop('library', None) %}
{%- if library is defined and library is not none %}
library "{{ library }}"
{% endif -%}

{% for object_name, params in item.value.items() %}
object {{ item.key }} "{{ object_name }}" {
{% set vars = params.pop('variables', None) %}
{{ attributes.attrs(params) }}
{%- if vars is defined and vars is not none -%}
{{ attributes.attrs(vars, 'vars.') }}
{% endif -%}
}
{% if not loop.last %}

{% endif %}
{% endfor %}
{% endmacro %}

{% macro apply_rule(item) %}
{% for rule_name, params in item.value.items() %}
{% set target = params.pop('target', None) %}
{% set target = target if target in ['Host', 'Service'] else 'Host' %}
{% set iterator = params.pop('iterator', None) %}
{% set operators = params.pop('var_operators', None) -%}

apply {{ item.key }} "{{ rule_name }}{% if iterator is not none -%}
-" for ({% if iterator is string %}{{ iterator }}{% else %}{{ iterator.key }}{{ " => {}".format(iterator.value) if iterator.value }} in {{ iterator.in }}{% endif %})
{%- else -%}"{%- endif %} to {{ target }} {
{% if (params.attributes is not defined) and (params.variables is not defined) %}
{{ attributes.attrs(params) }}
{%- endif %}
{% if params.variables is defined -%}
{{ attributes.attrs(params.variables, 'vars.', '=', iterator) }}
{%- endif %}


{%- if params.conditionals is defined %}
{% for conditional in params.conditionals %}
{% set condition = conditional.pop('condition') %}
if ({{ condition }}) {
  {{ attributes.attrs(conditional) }}
}
{% endfor %}
{%- endif %}


{%- if operators is defined and operators is not none and operators|length -%}
    {%- for operator, params in operators.items() %}
        {% if params is iterable and params is not string -%}
            {{ attributes.attrs({ 'vars': params }, '', operator, iterator) }}
        {% else %}
            {{ attributes.eval_value('vars', params, '', operator, iterator) }}
        {% endif -%}
    {% endfor -%}
{%- endif %}


{%- if params.custom is defined %}
    {{ params.custom }}
{%- endif %}


{%- if params.attributes is defined %}
{{ attributes.attrs(params.attributes) }}
{%- endif %}
}
{% if not loop.last %}

{% endif %}
{% endfor %}
{% endmacro %}


{% macro template(item) -%}
{% for object_name, params in item.value.items() -%}
{% set operators = params.pop('var_operators', None) %}

template {{ item.key }} "{{ object_name }}" {
{% if params.attributes is defined -%}
{{ attributes.attrs(params.attributes) }}
{% endif %}
{% if params.variables is defined -%}
{{ attributes.attrs(params.variables, 'vars.') }}
{% endif -%}
{% if params.attributes is not defined and params.variables is not defined %}
{{ attributes.attrs(params) }}
{% endif %}
{% if params.conditionals is defined -%}
{% for conditional in params.conditionals %}
{% set condition = conditional.pop('condition') %}
if ({{ condition }}) {
  {{ attributes.attrs(conditional) -}}
}
{% endfor %}
{% endif -%}
{% if operators is defined and operators is not none and operators|length -%}
{%- for operator, params in operators.items() %}
{{ attributes.attrs({ 'vars': params }, '', operator) }}
{% endfor -%}
{% endif -%}
}
{% endfor %}
{% endmacro %}

{% macro endpoint(item, current, hostvars) -%}
object Endpoint "{{ hostvars[item].i2_hostname }}" {
{% if item == current %}
  // That's us
{% elif item in hostvars[current].i2_parent_nodes %}
{% if hostvars[current].i2_connection_direction == 'top-down' %}
  // Parent already connects to us.
{% else %}
  host = "{{ hostvars[item].i2_api_host }}" // Actively connect to parent.
  port = "{{ hostvars[item].i2_api_port }}"
{% endif -%}
{% elif item in hostvars[current].i2_peer_nodes %}
{% if (current == hostvars[current].i2_peer_nodes[0] and hostvars[item].i2_connection_direction == 'top-down')
   or (current != hostvars[current].i2_peer_nodes[0] and hostvars[item].i2_connection_direction != 'top-down' ) %}
  host = "{{ hostvars[item].i2_api_host }}" // Actively connect to peer.
  port = "{{ hostvars[item].i2_api_port }}"
{% else %}
  // Peer already connects to us.
{% endif -%}
{% elif item in hostvars[current].i2_child_nodes %}
{% if hostvars[item].i2_connection_direction == 'top-down' %}
  host = "{{ hostvars[item].i2_api_host }}" // Actively connect to child node.
  port = "{{ hostvars[item].i2_api_port }}"
{% else %}
  // Child node will connect to us.
{% endif -%}
{% endif %}
{% if not hostvars[item].i2_master|default(False) and not hostvars[item].i2_satellite|default(False) %}
  log_duration = 0
{% endif %}
}
{%- endmacro %}

{% macro zone(item, parent, hostvars) -%}
{% set endpointvars = hostvars | dict2items | json_query("[?value.i2_zonename=='" + item + "'].value") %}
object Zone "{{ item }}" {
  endpoints = [ {{ endpointvars | map(attribute='i2_hostname') | sort | map('icinga_vars') | join(', ') }} ]
{% if parent %}  parent = {{ parent | icinga_vars }}
{% endif %}
}
{%- endmacro %}
